body {
	margin-left: 20px;
	margin-right: 20px;
	margin-top:20px;
}

h1 {
	
	margin-bottom:0px;
}

.post {
	border: 0.5px solid black;
	border-radius: 10px;
	padding: 5px;
}

.lat-bar {
	ul {
		list-style-type: none;
	}
}
